<!DOCTYPE html>
<html>
<style>
    input.search {
        width: 5em;
        height: 2em;
    }
</style>

<head>
    <title>File Transfer</title>
</head>
<body>
<h2>Welcome! Thanks for using file transfer</h2><br>
<form method="POST" enctype="multipart/form-data">
    <label>please input your name: </label><input type="text" name="username">
    <br>
    <input class="search" type="submit" name="submit_button" value="enter">
</form>
<h2>Q&A:</h2><br>
<ol>
    <li>Q: Can others read or delete my file?<br>
    A: Yes, if anyone uses the same username, both of you will share the same page.</li>
    <li>Q: Can I upload two files with the same name?<br>
        A: No, the newer will cover the older one. You can rename the file and upload it.</li>
    <li>Q: Can I take arbitrary username?<br>
        A: No, you can only use the username composed by numbers, letters, and '_'.</li>
    <li>Q: I have other questions.<br>
        A: It is welcome to ask me any questions. You can find me at 1115 A3.</li>
</ol>


</body>
</html>